module.exports = {
  port: process.env.PORT || 5002,
  api: 'http://pathtoapi.com.br/',
  fb : {
    validation_token : 'validation-token',
    access_token : 'FACEBOOKVALIDATIONTOKEN'
  },
  db_config: {
    host : 'hostname',
    user : 'username',
    password : 'mypassword',
    database : 'databasename'
  }
}
